html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

main.calculator-container {
    background-color: rgba(1, 16, 27, 0.92);
    padding: 2rem;
    margin: 0 auto;
    width: 50%;
    margin-top: 3rem;
}

main div.screen-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    margin-bottom: 2rem;
}

main div.screen-container input {
    border: none;
    outline: none;
    padding: 1rem 0rem;
    background-color: black;
    color: white;
    width: 100%;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    width: 6rem;
    text-align: center;
}

button:hover {
    background-color: orange;
    color: white;
    transition: 2s ease;
    cursor: pointer;
}